src/main/resources/wsdl/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://example.com/soapdemo/wsdl"
        xmlns:tns="http://example.com/soapdemo/wsdl"
        elementFormDefault="qualified">

    <xs:element name="GetPersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetPersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="tns:Person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Person">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="CreatePersonRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CreatePersonResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="tns:Person"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>